@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans;
  line-height: 1.3;
  background-color: #f8fdfd;
  color: #111111;
}
.btn-normal {
  background-color: #F0F0F0;
  border-radius: none;
  border: none;
  padding: 0.6em 2em;
  color: #717171;
  font-size: 15px;
  box-shadow: 0 0.2em #717171;
  position: relative;
  bottom: 0.2em;
}
.btn-normal:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.btn-normal:active {
  box-shadow: none;
  transform: translateY(1px);
}
.btn-success {
  background-color: #54d964;
  border-radius: none;
  border: none;
  padding: 0.6em 2em;
  color: #08260c;
  font-size: 15px;
  box-shadow: 0 0.2em #08260c;
  position: relative;
  bottom: 0.2em;
}
.btn-success:hover {
  background-color: #7ee289;
  cursor: pointer;
}
.btn-success:active {
  box-shadow: none;
  transform: translateY(1px);
}
.btn-danger {
  background-color: #ff7169;
  border-radius: none;
  border: none;
  padding: 0.6em 2em;
  color: #690600;
  font-size: 15px;
  box-shadow: 0 0.2em #690600;
  position: relative;
  bottom: 0.2em;
}
.btn-danger:hover {
  background-color: #ffa19c;
  cursor: pointer;
}
.btn-danger:active {
  box-shadow: none;
  transform: translateY(1px);
}
.btn-warning {
  background-color: #ffa04e;
  border-radius: none;
  border: none;
  padding: 0.6em 2em;
  color: #4e2400;
  font-size: 15px;
  box-shadow: 0 0.2em #4e2400;
  position: relative;
  bottom: 0.2em;
}
.btn-warning:hover {
  background-color: #ffbc81;
  cursor: pointer;
}
.btn-warning:active {
  box-shadow: none;
  transform: translateY(1px);
}
.btn-success-small {
  background-color: #54d964;
  border-radius: none;
  border: none;
  padding: 0.6em 2em;
  color: #08260c;
  font-size: 15px;
  box-shadow: 0 0.2em #08260c;
  position: relative;
  bottom: 0.2em;
  font-size: 12px;
  padding: 0.5em 1em;
  margin-right: 2px;
}
.btn-success-small:hover {
  background-color: #7ee289;
  cursor: pointer;
}
.btn-success-small:active {
  box-shadow: none;
  transform: translateY(1px);
}
.btn-danger-small {
  background-color: #ff7169;
  border-radius: none;
  border: none;
  padding: 0.6em 2em;
  color: #690600;
  font-size: 15px;
  box-shadow: 0 0.2em #690600;
  position: relative;
  bottom: 0.2em;
  font-size: 12px;
  padding: 0.5em 1em;
  margin-right: 2px;
}
.btn-danger-small:hover {
  background-color: #ffa19c;
  cursor: pointer;
}
.btn-danger-small:active {
  box-shadow: none;
  transform: translateY(1px);
}
.btn-warning-small {
  background-color: #ffa04e;
  border-radius: none;
  border: none;
  padding: 0.6em 2em;
  color: #4e2400;
  font-size: 15px;
  box-shadow: 0 0.2em #4e2400;
  position: relative;
  bottom: 0.2em;
  font-size: 12px;
  padding: 0.5em 1em;
  margin-right: 2px;
}
.btn-warning-small:hover {
  background-color: #ffbc81;
  cursor: pointer;
}
.btn-warning-small:active {
  box-shadow: none;
  transform: translateY(1px);
}
input[type=text] {
  height: 30px;
  border-radius: 0;
  border: 1px solid #a3a3a3;
  font-size: 18px;
  margin-right: 0.25em;
  padding: 1em 0.25em;
}
#stats-bar {
  display: flex;
  font-size: 24px;
  background-color: #dbf6f6;
  padding: 0.5em 1em;
  color: #303030;
  margin-bottom: 1em;
}
#stats-bar #shape {
  color: #39CCCC;
  margin-right: 0.25em;
}
#stats-bar #progress-bar {
  color: #FFFFFF;
  margin-left: 0.5em;
  margin-right: 1em;
  background-color: #F0F0F0;
  width: 100%;
}
#stats-bar #progress-bar #fill {
  text-align: center;
  font-size: 18px;
  padding-top: 3px;
  background-color: #39CCCC;
  height: 100%;
  width: 0%;
}
#user-logo {
  color: #39CCCC;
}
#display-name {
  margin-left: 0.4em;
}
#next-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
#next-section #next-task {
  margin-bottom: 0.25em;
  font-size: 42px;
}
#next-section #next-buttons {
  margin-bottom: 1em;
}
#dashboard {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
}
#dashboard #today {
  padding-left: 0;
}
#dashboard ol li {
  list-style-type: none;
  background-color: #dbf6f6;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}
