@level-color: #39CCCC;
@dark-text: #111111;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@main-fonts: "Roboto", sans;
// colors
@light-gray: #F0F0F0;
@dark-gray: #5F574F;
@green: lighten(#2ECC40, 10);
@red: lighten(#FF4136,10);
@white: #FFFFFF;
@orange: lighten(#FF851B, 10);
// semantic colors labels
@success: @green;
@danger: @red;
@warning: @orange;
@light-text: @white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: @main-fonts;
  line-height: 1.3;
  background-color: lighten(@level-color, 47);
  color: @dark-text;
}

.btn(@color) {
  background-color: @color;
  border-radius: none;
  border: none;
  padding: .6em 2em;
  color: darken(@color, 50);
  font-size: 15px;
  box-shadow: 0 .2em darken(@color, 50);
  position: relative;
  bottom: .2em;
  &:hover {
    background-color: lighten(@color, 10);
    cursor: pointer;
  }
  &:active {
    box-shadow: none;
    transform: translateY(1px);
  }
}

.btn-small(@color){
  .btn(@color);
  font-size: 12px;
  padding: .5em 1em;
  margin-right: 2px;
}

.btn-normal {
  .btn(@light-gray);
}
.btn-success {
  .btn(@success);
}
.btn-danger {
  .btn(@danger);
}
.btn-warning {
  .btn(@warning);
}
.btn-success-small {
  .btn-small(@success)
}
.btn-danger-small {
  .btn-small(@danger)
}
.btn-warning-small {
  .btn-small(@warning)
}
input[type=text] {
  height: 30px;
  border-radius: 0;
  border: 1px solid darken(@light-gray, 30);
  font-size: 18px;
  margin-right: .25em;
  padding: 1em .25em;
}
#stats-bar {
  display: flex;
  font-size: 24px;
  background-color: lighten(@level-color, 40);
  padding: .5em 1em;
  color: #303030;
  margin-bottom: 1em;
  #shape {
    color: @level-color;
    margin-right: .25em;
  }
  #progress-bar {
    color: @light-text;
    margin-left: .5em;
    margin-right: 1em;
    background-color: @light-gray;
    width: 100%;
    #fill {
      text-align: center;
      font-size: 18px;
      padding-top: 3px;
      background-color: @level-color;
      height: 100%;
      width: 0%;
    }
  }
}
#user-logo {
  color: @level-color;
}
#display-name {
  margin-left: 0.4em;
}
#next-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  #next-task {
    margin-bottom: 0.25em;
    font-size: 42px;
  }
  #next-buttons {
    margin-bottom: 1em;
  }
}

#dashboard {
  #today {
    padding-left: 0;
  }
  ol li {
    list-style-type: none;
    background-color: lighten(@level-color, 40);
    padding: 0.5em 1em;
    margin-bottom: .5em;
  }
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
}
